[Unit]
Description=Nebula Hub
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/nebula
ExecStart=/opt/nebula/manage.py run hub --daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
