{% if page.new_asset %}
    <form method="post" action="/detail?new_asset=1" id="form-edit">
{% else %}
    <form method="post" action="/detail/{{ page.asset.id }}" id="form-edit">
{% endif %}

<input type="hidden" name="id_folder" value="{{ page.id_folder }}">
<input type="hidden" id="input-form-qc-state" name="qc/state" value="{{ page.asset["qc/state"] }}">

{% if page.asset.status == 0 %}
    <input
        id="input-form-duration"
        type="hidden"
        name="duration"
        value="{{ page.asset["duration"] | s2tc(page.asset.fps) }}">
{% endif %}


{% for key, key_config in page.main_keys %}
<div class="form-group row">

    <label for="input-key-{{ loop.index }}" class="col-md-3 col-form-label" title="{{ page.asset.meta_types[key].description(lang=site["language"]) }}">
        {{ page.asset.meta_types[key].alias(lang=site["language"]) | replace(" ", "&nbsp;")}}
    </label>

    <div class="col-md-9">
        {% set key_class = page.asset.meta_types[key]["class"] %}
        {% if key_class == 0 %} {# string #}

            <input
                name="{{ key }}"
                class="form-control"
                type="text"
                value="{{ page.asset[key] }}"
                id="input-key-{{ loop.index }}">

        {% elif key_class == 1 %} {# text#}

            <textarea
                name="{{ key }}"
                class="form-control"
                id="input_key-{{ loop.index }}"
                rows="8">{{ page.asset[key] }}</textarea>

        {% elif key_class == 2 %} {# integer #}

            <input
                name="{{ key }}"
                class="form-control"
                type="number"
                value="{{ page.asset.show(key) }}"
                id="input-key-{{ loop.index }}">

        {% elif key_class == 3 %} {# numeric #}

            <input
                name="{{ key }}"
                class="form-control"
                type="number"
                value="{{ page.asset[key] }}"
                id="input-key-{{ loop.index }}">

        {% elif key_class == 4 %} {# boolean #}

            <div>
                <label class='switch'>
                    <input type="hidden" name="{{ key }}" value="{{ page.asset[key] | int }}"><input type='checkbox' onclick="this.previousSibling.value=1-this.previousSibling.value" {% if page.asset[key]  %} checked{% endif %}>
                    <span class='slider'></span>
                </label>
            </div>

        {% elif key_class == 5 %} {# datetime #}
            {% if page.asset.meta_types[key]["mode"] == "date" %}
                <input
                    name="{{ key }}"
                    type="text"
                    class="form-control datepicker"
                    value="{{ page.asset.show(key, format="%Y-%m-%d", never_placeholder="") }}" id="input-key-{{ loop.index }}">
            {% else %}
                {{ page.asset.meta_types[key]["mode"] }} is not supported yet
            {% endif %}

        {% elif key_class == 6 %} {# timecode #}
            {{ page.asset.show(key) }}

        {% elif key_class == 7 %} {# regions #}
            {{ page.asset.show(key) }}

        {% elif key_class == 8 %} {# fraction #}
            {{ page.asset.show(key) }}

        {% elif key_class in (9, 10) %} {# select #}
            <select
                name="{{ key }}"
                class="form-control selectpicker"
                id="input-key-{{ loop.index }}"
                {% if key_class == 10 %}multiple{% endif %}>

            {% for r in page.asset.show(key, result="full") %}
                <option
                    value="{{ r.value }}"
                    {% if r.selected %} selected{% endif %}
                    {% if r.role == "label" %} disabled{% endif %}
                    class="dropdown-menu-level-{{ r.get("indent", 0) }} {% if r.role == "header"%}dropdown-menu-header{% endif %}"
                    >
                    {{ r.alias }}
                </option>
            {% endfor %}
            </select>

        {% elif key_class == 11 %} {# color #}
            {{ page.asset.show(key) }}

        {%endif%}
        </div>
    </div>
{% endfor %}
</form>
