.nb-dialog {
  color: var(--color-text);
  padding: 6px;
  background-color: var(--color-surface-02);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 300px;
  min-height: 150px;
  max-width: 85%;
  max-height: 80%;
  border: none;

  --transition-duration: 0.3s;

  /* Animated parameters */

  transition: 
    opacity var(--transition-duration) ease,
    scale var(--transition-duration) ease,
    display var(--transition-duration) ease allow-discrete,
    overlay var(--transition-duration) ease allow-discrete;

  opacity: 0;
  scale: 0.6;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;

    transition: 
      background-color var(--transition-duration) ease allow-discrete,
      backdrop-filter var(--transition-duration) ease allow-discrete,
      display var(--transition-duration) ease allow-discrete,
      overlay var(--transition-duration) ease allow-discrete;
  }

  &[open] {
    opacity: 1;
    scale: 1;

    @starting-style {
      opacity: 0;
      scale: 0.6;
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(2px);

      @starting-style {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
      }
    }

  }


  /* Guts */

  header,
  footer {
    padding: 12px 6px;
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  header {
    font-weight: bold;
    border-bottom: 1px solid var(--color-surface-04);
    justify-content: flex-start;
  }

  footer {
    border-top: 1px solid var(--color-surface-04);
    justify-content: flex-end;
    button {
      min-width: 100px !important;
    }
  }
}

.nb-dialog-body {
  padding: 12px 6px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  overflow: auto;
  position: relative;
}
