.nb-switch {
  max-height: var(--input-height);
  min-height: var(--input-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  --bheight: calc(var(--input-height) * 0.7);

  &.small {
    --bheight: calc(var(--input-height) * 0.5);
    min-height: 0;
  }
  --bwidth: calc(var(--bheight) * 1.75);

  &.disabled {
    .slider {
      cursor: not-allowed !important;
      background: var(--color-surface-04) !important;

      &:before {
        background: var(--color-surface-07) !important;
      }
    }
  }

  .switch-body {
    position: relative;
    display: inline-block;
    height: var(--bheight);
    width: var(--bwidth);

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    input:checked + .slider {
      background-color: var(--color-cyan);
    }

    input:checked + .slider:before {
      transform: translateX(calc(var(--bheight) * 0.8));
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-surface-04);
      transition: 0.4s;
      border-radius: calc(var(--bheight) / 2);

      &:before {
        position: absolute;
        content: '';
        height: calc(var(--bheight) * 0.8);
        width: calc(var(--bheight) * 0.8);
        left: calc(var(--bheight) * 0.1);
        bottom: calc(var(--bheight) * 0.1);
        background-color: var(--color-text-hl);
        transition: 0.4s;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }
}
