html {
    overflow : hidden;
	height:100%;
}

#content {
    position : absolute;
    top : 85px;
    bottom : 0px;
    left : 5px;
    right : 5px;
    overflow : auto;
	padding: 20px
}

h1 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.smallform {
    width: 400px;
    margin: 0 auto;
    background-color: #2a2e30;
    border: 0 !important;
    color: #eee;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.panel {
    border: 1px solid #d0d0d0;
    padding: 10px;
}

/************
 *  Nav bar *
 *************/


#site-nav{
    z-index : 1000;
}

.navbar-dark {
    background-color: #2a2e30;
}

.navbar-brand img {
    width: 140px;
    height: auto;
}

.nav-link {
    font-family: Roboto;
    text-transform: Uppercase;
}

#navbar-nav{
    padding-left: 40px;
}


.module-navbar {
    margin-bottom: 30px;
    border : 1px solid #ccc;
    background-color: #f0f0f0;
}


/*****************
 *  Login window *
 *****************/

#login {
	background: #2a2e30;
	background: -moz-radial-gradient(center, ellipse cover, #2a2e30 0%, #000000 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #2a2e30 0%,#000000 100%);
	background: radial-gradient(ellipse at center, #2a2e30 0%,#000000 100%);
}

#login-window img {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

#login-window h1 {
    font-size: 28px;
}

#login-window input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#error-window {
    width: 400px;
    margin: 0 auto;
    background-color: #CC0000;
    border: 0 !important;
    color: #eee;
    padding: 30px;
    font-color: 12px;
    font-weight: bold;
}


#asset-search-bar {
    padding-bottom: 30px;
}


.table td {
    font-size: 12px;
    vertical-align: middle;
}

#job-table-body button {
    color : #fff;
    font-size : 12px;
}

#tab-panels-detail {
    padding : 20px;
}

.input-timecode {
    width: 120px;
    font-family: monospace;
    text-align: center;
}

#preview-container {
    margin: 0 auto;
}
