{% extends "_base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div id="error-window">
    <div class="text-center">
        <h4>ERROR {{ page.response_code }}</h4>
        <p>
        {{ page.message }}
        </p>
        {% if page.traceback and user.is_admin %}
        <br>
        <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#traceback" >
            Show traceback
        </button>
        </p>
        {% endif %}
    </div>
</div>


{% if page.traceback and user.is_admin %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="collapse" id="traceback">
          <div class="card card-body">
            <pre>
            {{ page.traceback }}
            </pre>
          </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}




