{% extends "_base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row">
<div class="col">
    <div class="panel panel-default">
        <div class="panel-heading">Objects</div>
        <div class="panel-body">
            <div class="list-group">
            <div class="list-group-item">
            {% for object_type in page.object_counts  %}
            <div class="row-content">
                {{ object_type }}&nbsp;
                <span class="badge">{{ "{0:,}".format(page.object_counts[object_type]) }}</span>
            </div>
            {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>


<div class="col">
    <div class="panel panel-default">
        <div class="panel-heading">Storage utilization</div>
        <div class="panel-body">
            <div class="list-group">
                {% for storage in page.storages %}
                <div class="list-group-item">
                    <div class="row-content">
                        <p class="list-group-item-text">
                             <b>{{ storage.title }}</b> : {{ storage["free"] | filesizeformat }} of {{ storage["total"] | filesizeformat }} free.</small>
                        </p>
                        <div class="progress">
                            <div class="progress-bar" style="width:{{ 100*((storage["total"]-storage["free"])/storage["total"] ) }}%"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

</div>


<hr>

<div class="row">
{% for hostname in page.hosts %}{% set host = page.hosts[hostname] %}
<div class="col">
    <div class="panel panel-default">
        <div class="panel-heading">{{ hostname }}</div>
        <p class="list-group-item-text">
            <small>CPU</small>
            <div class="progress">
                <div class="progress-bar" style="width : {{ host.cpu }}%"></div>
            </div>
        </p>
        <p class="list-group-item-text">
        <small>MEM ({{ host.mem_free | filesizeformat }} of {{ host.mem_total | filesizeformat }} free)</small>
            <div class="progress">
                <div class="progress-bar" style="width : {{ 100*((host.mem_total - host.mem_free) / host.mem_total) }}%"></div>
            </div>
        </p>
        {% if host.swp_total %}
        <p class="list-group-item-text">
            <small>SWP ({{ host.swp_free | filesizeformat }} of {{ host.swp_total | filesizeformat }} free)</small>
            <div class="progress">
                <div class="progress-bar" style="width : {{ 100*((host.swp_total - host.swp_free) / host.swp_total) }}%"></div>
            </div>
        </p>
        {% endif %}
    </div>
</div>
{% endfor %}

</div>

{% endblock %}

