{% extends "_base.html" %}

{% block header %}
<script>
    var mode = "{{ page.mode }}";
    var id_asset = {{ page.id_asset }};
</script>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a href="/jobs/active" class="nav-link{% if page.mode == "active" %} active{% endif %}">Active</a>
    </li>
    <li class="nav-item">
        <a href="/jobs/finished" class="nav-link{% if page.mode == "finished" %} active{% endif %}">Finished</a>
    </li>
    <li class="nav-item">
        <a href="/jobs/failed" class="nav-link{% if page.mode == "failed" %} active{% endif %}">Failed</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<table id="job-table" class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th style="width:80px;">Action</th>
            <th style="width:140px;">Created</th>
            <th style="width:140px;">Started</th>
            <th style="width:140px;">Finished</th>
            <th style="width:135px;">Progress</th>
            <th style="width:280px;">Message</th>
            <th style="width:80px;">&nbsp;</th>
        </tr>
    </thead>

    <tbody id="job-table-body">
    </tbody>

</table>
{% endblock %}

