{% extends "_base.html" %}
{% block content %}
    <div  id="login-window">
        <div class="text-center">
            <img src="/static/img/logo-wide.svg">
            <h1>{{ site.name }}</h1>
        </div>
        <form autocomplete="off" method="post" action="/login">
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
            <div class="form-group label-floating">
                <label for="input-login" class="control-label">Login</label>
                <input name="login" type="text" class="form-control" id="input-login">
            </div>

            <div class="form-group label-floating">
                <label for="input-password" class="control-label">Password</label>
                <input name="password" type="password" class="form-control" id="input-password">
            </div>
            {% if page.error %}
            <p>
            <span class="text-danger">{{ page.error }}</span>
            </p>
            {% endif %}

            <div class="form-group text-center">
                <input type="submit" value="Login" class="btn btn-raised btn-primary"></input>
            </div>
        </form>

        <div class="text-center">
            <small><a href="/passreset">Lost password</a></small>
        </div>
    </div>

<script type="text/javascript">
    document.getElementById("input-login").focus();
</script>

{% endblock %}
