{% import "components.jinja2" as ui with context%}{% if not __plain__ %}
<html dir="ltr" lang="en">
  <head>
    <link rel="preload" as="image" href="https://static.nebulabroadcast.com/logo-nebula-broadcast-black-no-padding.png">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="x-apple-disable-message-reformatting">
  </head>
  <body style="
    background-color:white;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    font-family:ui-sans-serif, system-ui, sans-serif;
    padding-left:0.5rem;
    padding-right:0.5rem"
  >
    <table 
      align="center" 
      width="100%" 
      border="0" 
      cellpadding="0" 
      cellspacing="0" 
      role="presentation" 
      style="
        border-width:1px;
        border-style:solid;
        border-color:rgb(234,234,234);
        border-radius:0.25rem;
        margin-top:40px;
        margin-bottom:40px;
        margin-left:auto;
        margin-right:auto;
        padding:20px;
        max-width:465px"
      >
      <tbody>
        <tr style="width:100%">
          <td>
{% endif %}{% block content %} {% endblock %}{% if not __plain__ %}
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
{% endif %}
