{% macro logo() -%}
{% if not __plain__ %}
<table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin-top:32px">
  <tbody>
    <tr>
      <td>
        <img 
          alt="Nebula Broacast" 
          width="200"
          height="80" 
          src="https://static.nebulabroadcast.com/logo-nebula-broadcast-black-no-padding.png" 
          style="
            margin-top:0px;
            margin-bottom:0px;
            margin-left:auto;
            margin-right:auto;
            display:block;
            outline:none;
            border:none;
            text-decoration:none" 
          >
      </td>
    </tr>
  </tbody>
</table>
{% endif %}
{%- endmacro %}

<!-- Title -->

{% macro title() -%}
{% if not __plain__ %}
<h1 
  style="
    color:rgb(0,0,0);
    font-size:24px;
    font-weight:400;
    text-align:center;
    padding:0px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:0px;
    margin-right:0px"
  >
  {{ caller() }}
</h1>
{% else %}{% endif %}
{%- endmacro %}

<!-- Paragraph -->

{% macro paragraph() -%}{% if not __plain__ %}
<p style="color:rgb(0,0,0);font-size:14px;line-height:24px;margin-bottom:16px;margin-top:16px">
  {{ caller() }}
</p>{% else %}{{ caller() }}{% endif %}
{%- endmacro %}

<!-- Call to Action Button -->

{% macro call_to_action(button_text, button_link) -%}
{% if not __plain__ %}
<table 
  align="center" 
  width="100%" 
  border="0" 
  cellpadding="0" 
  cellspacing="0" 
  role="presentation" 
  style="text-align:center;margin-top:32px;margin-bottom:32px"
>
  <tbody>
    <tr>
      <td>
        <a 
          href="{{ button_link }}" 
          style="
            background-color:rgb(0,0,0);
            border-radius:0.25rem;
            color:rgb(255,255,255);
            font-size:12px;
            font-weight:600;
            text-decoration-line:none;
            text-align:center;
            padding-left:1.25rem;
            padding-right:1.25rem;
            padding-top:0.75rem;
            padding-bottom:0.75rem;
            line-height:100%;
            text-decoration:none;
            display:inline-block;
            max-width:100%;
            mso-padding-alt:0px;
            padding:12px 20px 12px 20px
            " 
          target="_blank"
        >
          <span style="max-width:100%;display:inline-block;line-height:120%;mso-padding-alt:0px;mso-text-raise:9px">
            {{ button_text }}
          </span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
{% else %}{{ button_link }}{% endif %}
{%- endmacro %}

<!-- Footer -->

{% macro footer() -%}
{% if not __plain__ %}
<hr 
  style="
    border-width:1px;
    border-style:solid;
    border-color:rgb(234,234,234);
    margin-top:26px;
    margin-bottom:26px;
    margin-left:0px;
    margin-right:0px;
    width:100%;
    border:none;
    border-top:
    1px solid #eaeaea"
>
<p style="color:rgb(102,102,102);font-size:12px;line-height:24px;margin-bottom:16px;margin-top:16px">
  {{ caller() }}
</p>
{% else %}{{ caller() }}{% endif %}
{%- endmacro %}
