{% extends "base.jinja2" %}
{% import "components.jinja2" as ui %}

{% block content %}

{{ ui.logo() }}

{% call ui.title() %}
  Reset your password
{% endcall %}


{% call ui.paragraph() %}
  Hello {{ full_name }},
{% endcall %}

{% call ui.paragraph() %}
  We received a request to reset the password for your Nebula account. 
  Click the button below to set a new password.
{% endcall %}


{{ ui.call_to_action("Reset password", reset_link ) }}


{% call ui.footer() %}
  This email was intended for <span style="color:rgb(0,0,0)">{{ email }}</span>. 
  If you were not expecting this message, you can ignore it.
{% endcall %}


{% endblock %}

