{% extends "base.jinja2" %}

{% block content %}
{{ ui.logo() }}

{% call ui.title() %}Reset your password{% endcall %}

{% call ui.paragraph() %}Hello {{ full_name }}, {% endcall %}

{% call ui.paragraph() %}
We received a request to reset the password for your Nebula account. 
Please use the link below to set a new password.
{% endcall %}

{{ ui.call_to_action("Reset password", reset_link ) }}

{% call ui.footer() %}
This email was intended for {{ email }}. 
If you were not expecting this message, you can ignore it.{% endcall %}
{% endblock %}

