name: Publish docker image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Get the version
        id: get_version
        uses: SebRollen/toml-action@v1.0.1
        with:
          file: 'backend/pyproject.toml'
          field: 'tool.poetry.version'

      - name: Build docker image
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: |
            image=nebulabroadcast/nebula-server:${{ steps.get_version.outputs.value }}
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v4
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: true
          tags: nebulabroadcast/nebula-server:${{ steps.get_version.outputs.value }}

      - uses: ncipollo/release-action@v1
        with:
          tag: v${{ steps.get_version.outputs.value }}
          name: Nebula ${{ steps.get_version.outputs.value }}
          body: Nebula version ${{ steps.get_version.outputs.value }}
          allowUpdates: true
          draft: true
          prerelease: false

